<h1>Rent Movie</h1>

<%= form_with(model: @movie, url: rent_movies_path(@movie), method: :patch) do |form| %>
  <div class="form-group">
    <%= form.label :customer_id, 'Select Customer' %>
    <%= form.collection_select :customer_id, @customers, :id, :name, prompt: 'Select Customer' %>
  </div>

  <%= form.submit 'Rent Movie', class: 'btn btn-primary' %>
<% end %>
