
  <div class="col-4 py-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= customer.name %></h5>
        <%= link_to "Show this customer", customer, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
