<%= link_to '+ Cliente', new_customer_path, class: 'btn btn-success' %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
